<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
			   <resource id="Retailinsights_Autodrivers::parent" title="Auto Drivers" sortOrder="100" >
                <resource id="Retailinsights_Autodrivers::Listautodrivers" title="List Auto drivers" sortOrder="20" />
              </resource>
            </resource>
        </resources>
    </acl>
</config>
