<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <typography>
            <base>
                <!--Default Config Base Fonts-->
                <ub_base_font_library_var>google</ub_base_font_library_var>
                <ub_base_google_font_name_var>Roboto</ub_base_google_font_name_var>
                <ub_font_face_weights_var>300,400,500,700</ub_font_face_weights_var>
            </base>
        </typography>
        <colors>
            <customize>
                <theme_color>default</theme_color>
            </customize>
        </colors>
        <element>
            <header>
                <general>
                    <update_layout>update_header_view__default</update_layout>
                </general>
                <logo>
                    <width_desktop>152</width_desktop>
                    <height_desktop>26</height_desktop>
                    <width_mobile>152</width_mobile>
                    <height_mobile>26</height_mobile>
                </logo>
            </header>
            <footer>
                <general>
                    <update_layout>update_footer_view__default</update_layout>
                </general>
            </footer>
        </element>
        <category_view>
            <general>
                <enable_author>1</enable_author>
                <ub_category_border_item_var>0</ub_category_border_item_var>
            </general>
            <grid>
                <image>
                    <img_width>240</img_width>
                    <img_height>360</img_height>
                </image>
                <one_column_layout>
                    <ub_desktop_one_column_var>6</ub_desktop_one_column_var>
                    <ub_tablet_one_column_var>5</ub_tablet_one_column_var>
                    <ub_tablet_sm_one_column_var>4</ub_tablet_sm_one_column_var>
                    <ub_mobile_one_column_var>3</ub_mobile_one_column_var>
                    <ub_mobile_sm_one_column_var>2</ub_mobile_sm_one_column_var>
                </one_column_layout>
                <two_columns_layout>
                    <ub_desktop_two_column_var>5</ub_desktop_two_column_var>
                    <ub_tablet_two_column_var>4</ub_tablet_two_column_var>
                    <ub_tablet_sm_two_column_var>3</ub_tablet_sm_two_column_var>
                    <ub_mobile_two_column_var>3</ub_mobile_two_column_var>
                    <ub_mobile_sm_two_column_var>2</ub_mobile_sm_two_column_var>
                </two_columns_layout>
            </grid>
            <list>
                <img_width>200</img_width>
                <img_height>300</img_height>
                <max_chars>320</max_chars>
            </list>
        </category_view>
        <product_view>
            <general>
                <update_layout>update_product_view__default</update_layout>
                <enable_author>1</enable_author>
            </general>
            <gallery>
                <general>
                    <image_medium_width>270</image_medium_width>
                    <image_medium_height>405</image_medium_height>
                    <nav_thumb_width>58</nav_thumb_width>
                    <nav_thumb_height>87</nav_thumb_height>
                </general>
            </gallery>
            <related>
                <image_width>345</image_width>
                <image_height>518</image_height>
                <slider_options>{"single_item":"0","number_items":"6","number_items_desktop":"4","number_items_desktop_small":"3","number_items_tablet":"3","number_items_tablet_small":"3","number_items_mobile":"2","items_to_scroll":"1","auto_height":"1","auto_run":"0","slide_speed":"3000","stop_on_hover":"1","show_navigation":"1","infinite":"0","show_paging":"1","variable_width":"0","center_mode":"0","paging_numbers":"1","initDelay":"1000"}</slider_options>
                <limit>6</limit>
            </related>
            <upsell>
                <image_width>345</image_width>
                <image_height>518</image_height>
                <slider_options>{"single_item":"0","number_items":"6","number_items_desktop":"4","number_items_desktop_small":"3","number_items_tablet":"3","number_items_tablet_small":"3","number_items_mobile":"2","items_to_scroll":"1","auto_height":"1","auto_run":"0","slide_speed":"3000","stop_on_hover":"1","show_navigation":"1","infinite":"0","show_paging":"1","variable_width":"0","center_mode":"0","paging_numbers":"1","initDelay":"1000"}</slider_options>
                <limit>6</limit>
            </upsell>
        </product_view>
        <contact_view>
            <general>
                <update_layout>update_contact_view__default</update_layout>
            </general>
        </contact_view>
        <cart>
            <crosssell>
                <image_width>345</image_width>
                <image_height>518</image_height>
                <slider_options>{"single_item":"0","number_items":"4","number_items_desktop":"4","number_items_desktop_small":"3","number_items_tablet":"2","number_items_tablet_small":"1","number_items_mobile":"1","items_to_scroll":"1","auto_height":"1","auto_run":"1","slide_speed":"3000","stop_on_hover":"1","show_navigation":"1","infinite":"1","show_paging":"1","variable_width":"0","center_mode":"0","paging_numbers":"1","initDelay":"1000"}</slider_options>
                <limit>6</limit>
            </crosssell>
        </cart>
    </default>
</config>