<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Morfdev\Freshdesk\Api\OrderRecentManagementInterface" type="Morfdev\Freshdesk\Model\Management\OrderRecent" />
    <preference for="Morfdev\Freshdesk\Api\CustomerManagementInterface" type="Morfdev\Freshdesk\Model\Management\Customer" />
</config>