<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="freshworks_customer_created" instance="Morfdev\Freshdesk\Observer\CustomerCreatedObserver" />
    </event>
    <event name="customer_address_save_after">
        <observer name="freshworks_customer_updated" instance="Morfdev\Freshdesk\Observer\CustomerUpdatedObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="freshworks_order_created" instance="Morfdev\Freshdesk\Observer\OrderCreatedObserver" />
    </event>
</config>
