<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Retailinsights_FedexPincode::FedexPincodeList" title="Fedex Pincode" module="Retailinsights_FedexPincode" sortOrder="20" parent="Magento_Sales::sales" action="fedexpincode/fedexpincodelist" resource="Retailinsights_FedexPincode::FedexPincodeList"/>
    </menu>
</config>