<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Infomodus. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="infomodus_fedexlabel" frontName="fedexlabel">
            <module name="Infomodus_Fedexlabel" />
        </route>
    </router>
</config>