<?xml version="1.0"?>
<!--
/**
 * @author Centralbooks Team
 * @copyright Copyright (c) 2021 Centralbooks (https://www.centralbooksonline.com/)
 * @package Centralbooks_Navision
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Centralbooks_Freshchat" setup_version="1.0.1">
       
    </module>
</config>