block_identifier,type_code,theme_path,title,page_groups,sort_order
,cms_static_block,frontend/Ubertheme/bookshop,Slideshow,"a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:29:""sections.panel.topsl1.content"";}}}",1
ub-bookshop-hero-highlight,cms_static_block,frontend/Ubertheme/bookshop,"Today Highlight","a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:29:""sections.panel.topsl1.content"";}}}",2
ub-bookshop-banner,cms_static_block,frontend/Ubertheme/bookshop,"Home Banner","a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:11:""content.top"";}}}",1
,cms_static_block,frontend/Ubertheme/bookshop,"Home Products List","a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:7:""content"";}}}",2
ub-bookshop-blog,cms_static_block,frontend/Ubertheme/bookshop,Blog,"a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:14:""content.bottom"";}}}",3
ub-bookshop-deals,cms_static_block,frontend/Ubertheme/bookshop,"DEALS OF THE WEEK","a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:12:""sidebar.main"";}}}",3
ub-bookshop-products-tab,cms_static_block,frontend/Ubertheme/bookshop,"Product Tabs","a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:29:""sections.panel.topsl2.content"";}}}",1
ub-bookshop-deals-mobile,cms_static_block,frontend/Ubertheme/bookshop,"Deals of the week (Mobile)","a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:29:""sections.panel.topsl1.content"";}}}",3
ub-bookshop-footer-links,cms_static_block,frontend/Ubertheme/bookshop,"Footer Links","a:1:{i:0;a:2:{s:10:""page_group"";s:9:""all_pages"";s:9:""all_pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:7:""default"";s:5:""block"";s:28:""sections.panel.bots2.content"";}}}",1
ub-bookshop-sidebar-banner,cms_static_block,frontend/Ubertheme/bookshop,"Sidebar Banner","a:1:{i:0;a:2:{s:10:""page_group"";s:9:""all_pages"";s:9:""all_pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:7:""default"";s:5:""block"";s:18:""sidebar.additional"";}}}",1
ub-bookshop-special,cms_static_block,frontend/Ubertheme/bookshop,"Special Products","a:1:{i:0;a:2:{s:10:""page_group"";s:9:""all_pages"";s:9:""all_pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:7:""default"";s:5:""block"";s:18:""sidebar.additional"";}}}",2
ub-bookshop-socials,cms_static_block,frontend/Ubertheme/bookshop,Social,"a:1:{i:0;a:2:{s:10:""page_group"";s:9:""all_pages"";s:9:""all_pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:7:""default"";s:5:""block"";s:11:""content.top"";}}}",1
ub-bookshop-customer-phone,cms_static_block,frontend/Ubertheme/bookshop,"Header Customer Phone","a:1:{i:0;a:2:{s:10:""page_group"";s:9:""all_pages"";s:9:""all_pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:7:""default"";s:5:""block"";s:12:""header.panel"";}}}",1
ub-bookshop-brands,cms_static_block,frontend/Ubertheme/bookshop,Brand,"a:1:{i:0;a:2:{s:10:""page_group"";s:5:""pages"";s:5:""pages"";a:3:{s:3:""for"";s:3:""all"";s:13:""layout_handle"";s:15:""cms_index_index"";s:5:""block"";s:28:""sections.panel.bots1.content"";}}}",0
