<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
			   <resource id="Magento_Sales::sales">
                <resource id="Retailinsights_FedExCustom::ProcessFedExOrder" title="Process FedEx Orders" sortOrder="30" />
				<resource id="Retailinsights_FedExCustom::ProcessedFedexOrdersList" title="Processed FedEx Orders List" sortOrder="40" />
				<resource id="Retailinsights_FedExCustom::PendingFedexOrders" title="Pending FedEx Orders List" sortOrder="50" />
			 </resource>
           </resource>
        </resources>
    </acl>
</config>
