<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="schooldashboard" translate="label" sortOrder="101">
            <label>CBO Dashboard</label>
        </tab>
        <section id="schooldashboard" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>School Orders Dashboards</label>
            <tab>schooldashboard</tab>
            <resource>Centralbooks_OrderSchoolDashboards::orders_school_dashboards</resource>
             <group id="ordertime" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			 <label>School Orders Configurations</label>
                <field id="highest_orders_time" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Highest Orders Time for Tabular data</label>
                </field>
              
            </group>
        </section>
    </system>
</config>
