<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <!-- <add id="Retailinsights_CBOOrdersListing::ProcessedCBOOrdersList" title="Processed CBO Orders List" module="Retailinsights_CBOOrdersListing" sortOrder="30" parent="Magento_Sales::sales" action="cboorderslisting/processedcboorderslist" resource="Retailinsights_CBOOrdersListing::ProcessedCBOOrdersList"/> -->
    </menu>
</config>