<!--@subject A quick check-in about your recent order @-->
<!--@vars {
"var customer_name":"Customer Name",
"var order_increment":"Order Number",
"var order_date":"Order Date",
"var feedback_link":"Feedback Link"
} @-->


<p>Dear {{var customer_name}},</p>

<p>We hope your recent order #{{var order_increment}} placed on {{var order_date}} arrived safely and that you're happy with everything!</p>

<p>We'd love to hear your feedback on our service. Your input is so valuable and helps us improve.</p>

<p>Please take a moment to share your thoughts here: <a href="{{var feedback_link}}">{{var feedback_link}}</a></p>

<p>Thank you so much!</p>
<p>Warm regards,<br/>Team Central Books</p>