<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="retailinsights_admin" id="retailinsights_admin">
            <module name="Retailinsights_Orders"/>
        </route>
    </router>
</config>