<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
	     <tab id="freshdesk_tab" translate="label" sortOrder="21">
            <label>Freshdesk Settings</label>
        </tab>
        <section id="freshdesk_configuration" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
		    <class>separator-top</class>
            <label>Freshdesk Configuration</label>
            <tab>freshdesk_tab</tab>

            <resource>Centralbooks_Freshdesk::config</resource>
			<group id="freshdesk" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1">
                <label>Freshdesk</label>

                <field id="enable_product_cron" translate="label" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Enable Product Article Cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
