<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
			       <resource id="Centralbooks_ClickpostExtension::setup" title="Clickpost Setup Telangana" sortOrder="1" />
                   <resource id="Centralbooks_ClickpostExtension::maharashtra" title="Clickpost Setup Maharashtra" sortOrder="2" />
				   <resource id="Centralbooks_ClickpostExtension::awb" title="Manage Clickpost AWBs" sortOrder="3" />
           </resource>
        </resources>
    </acl>
</config>
