<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
		<!-- <preference for="Centralbooks\ClickpostExtension\Api\Data\AwbInterface" type="Shipsy\EcommerceExtension\Model\Awb"/> -->
    <!-- <type name="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <plugin name="sales_grid_collection" type="\Shipsy\EcommerceExtension\Model\Plugin\Sales\Order\Grid"/>
    </type> -->

	<type name="Centralbooks\ClickpostExtension\Model\ResourceModel\Awb\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">clickpost_waybill</argument>
            <argument name="eventPrefix" xsi:type="string">clickpost_awb_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">awb_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Centralbooks\ClickpostExtension\Model\ResourceModel\Awb</argument>
        </arguments>
    </type>
	
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="clickpost_awb_listing_data_source" xsi:type="string">Centralbooks\ClickpostExtension\Model\ResourceModel\Awb\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>