<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
			   <resource id="Magento_Sales::sales">
                <resource id="Retailinsights_EcomCustom::ProcessEcomOrder" title="Process Ecom Orders" sortOrder="30" />
				<resource id="Retailinsights_EcomCustom::ProcessedEcomOrdersList" title="Processed Ecom Orders List" sortOrder="40" />
				<resource id="Retailinsights_EcomCustom::PendingEcomOrders" title="Pending Ecom Orders List" sortOrder="50" />
				<resource id="Retailinsights_EcomCustom::OptionalBooksReports" title="Optional Books Reports" sortOrder="10" />
			 </resource>
           </resource>
        </resources>
    </acl>
</config>
