<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="orderexport" translate="label" sortOrder="10">
            <label>Export Order Settings</label>
        </tab>
        <section id="orderexport" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>orderexport</tab>
            <resource>Retailinsights_Orderexport::configuration_config</resource>
            <!-- Begin of services group  -->
            <group id="orderexportdate" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>

                <field id="startdate" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Download Orderexport Start Date</label>
                </field>
            </group>
        </section>
    </system>
</config>