<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="schoolzone_review" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>School Data</label>
            <tab>general</tab>
            <resource>SchoolZone_Review::config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="school_list" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Schools List</label>
                    <comment>Enter one school name per line.</comment>
	        </field>
		  <field id="bundle_start_date" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bundle Sale Start Date</label>
                    <comment>Select the start date for bundle sales tracking.</comment>
                </field>

                <!-- 🔹 Add end date field -->
                <field id="bundle_end_date" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bundle Sale End Date</label>
                    <comment>Select the end date for bundle sales tracking.</comment>
                </field>
            </group>
        </section>
    </system>
</config>

