<?xml version="1.0"?>
<!--
/**
 * @package     Plumrocket_RMA
 * @copyright   Copyright (c) 2021 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Plumrocket\RMA\Api\ReturnListInterface" type="Plumrocket\RMA\Model\ReturnList" />
    <preference for="Plumrocket\RMA\Api\Data\ReturnSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\ReturnRepositoryInterface" type="Plumrocket\RMA\Model\ReturnRepository" />
    <preference for="Plumrocket\RMA\Api\ReturnInterface" type="Plumrocket\RMA\Model\Returns" />
    <preference for="Plumrocket\RMA\Api\Data\ReturnInterface" type="Plumrocket\RMA\Model\Returns" />
    <preference for="Plumrocket\RMA\Api\Data\ReturnItemInterface" type="Plumrocket\RMA\Model\Returns\Item"/>
    <preference for="Plumrocket\RMA\Api\ReturnManagementInterface" type="Plumrocket\RMA\Model\ReturnManagement" />
    <preference for="Plumrocket\RMA\Api\Data\ReturnMessageSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\Data\ReturnMessageInterface" type="Plumrocket\RMA\Model\Returns\Message"/>
    <preference for="Plumrocket\RMA\Api\ReturnItemResolutionRepositoryInterface" type="Plumrocket\RMA\Model\ItemResolutionRepository" />
    <preference for="Plumrocket\RMA\Api\Data\ItemResolutionSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\Data\ItemResolutionInterface" type="Plumrocket\RMA\Model\Resolution" />
    <preference for="Plumrocket\RMA\Api\ReturnItemConditionRepositoryInterface" type="Plumrocket\RMA\Model\ReturnConditionRepository" />
    <preference for="Plumrocket\RMA\Api\Data\ItemConditionSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\Data\ItemConditionInterface" type="Plumrocket\RMA\Model\Condition" />
    <preference for="Plumrocket\RMA\Api\Data\TrackingNumberSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\Data\TrackingNumberInterface" type="Plumrocket\RMA\Model\Returns\Track"/>
    <preference for="Plumrocket\RMA\Api\Data\ItemReasonSearchResultInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\ReturnItemReasonRepositoryInterface" type="Plumrocket\RMA\Model\ItemReasonRepository" />
    <preference for="Plumrocket\RMA\Api\Data\ItemReasonInterface" type="Plumrocket\RMA\Model\Reason" />
    <preference for="Plumrocket\RMA\Api\ReturnManagerRepositoryInterface" type="Plumrocket\RMA\Model\ReturnManagerRepository" />
    <preference for="Plumrocket\RMA\Api\ResponseTemplateRepositoryInterface" type="Plumrocket\RMA\Model\ResponseTemplate\Repository" />
    <preference for="Plumrocket\RMA\Api\Data\ResponseTemplateInterface" type="Plumrocket\RMA\Model\Response" />
    <preference for="Plumrocket\RMA\Api\Data\ResponseTemplateSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Plumrocket\RMA\Api\ReturnIncrementIdGeneratorInterface" type="Plumrocket\RMA\Model\Returns\IncrementIdGenerator" />

    <virtualType name="Plumrocket\RMA\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor">
        <arguments>
            <argument name="fieldMapping" xsi:type="array">
                <item name="identifier" xsi:type="string">main_table.entity_id</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Plumrocket\RMA\Model\Api\SearchCriteria\CollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Plumrocket\RMA\Model\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Plumrocket\RMA\Model\ReturnList">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Plumrocket\RMA\Model\Api\SearchCriteria\CollectionProcessor</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="prrma_quote" type="Plumrocket\RMA\Plugin\QuotePlugin" />
    </type>
    <type name="Magento\Quote\Model\Cart\Totals\Item">
        <plugin name="prrma_quote_totals_item" type="Plumrocket\RMA\Plugin\QuoteTotalsItemPlugin" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Attributes">
        <plugin name="prrma_product_view_attributes" type="Plumrocket\RMA\Plugin\ProductViewAttributes" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_view_returns_grid_data_source" xsi:type="string">Plumrocket\RMA\Model\ResourceModel\Order\Returns\Grid\Collectionview</item>
                <item name="prrma_returns_listing_data_source" xsi:type="string">Plumrocket\RMA\Model\ResourceModel\Order\Returns\Grid\Collection</item>
				<item name="prrma_returns_filter_listing_data_source" xsi:type="string">Plumrocket\RMA\Model\ResourceModel\Order\Returns\Grid\Collectionfilter</item>
            </argument>
        </arguments>
    </type>
	
    <type name="Plumrocket\RMA\Controller\AbstractReturns">
        <arguments>
            <argument name="fileDriver" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Plumrocket\RMA\Helper\Returnrule">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Serialize</argument>
        </arguments>
    </type>
    <type name="Plumrocket\RMA\Observer\ToHtmlBeforeObserver">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Serialize</argument>
        </arguments>
    </type>
    <type name="Plumrocket\RMA\Model\Returnrule">
        <arguments>
            <argument name="serialize" xsi:type="object">Magento\Framework\Serialize\Serializer\Serialize</argument>
        </arguments>
    </type>

	<type name="Plumrocket\RMA\Model\ResourceModel\Order\Returns\Grid\Collection">
        <plugin name="ordercolumn_grid_load_before" type="Plumrocket\RMA\Plugin\Admin\Order\Grid" sortOrder="10" disabled="true"/>
    </type>

    <type name="Magento\SalesSequence\Model\EntityPool">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="pr_rma" xsi:type="string">pr_rma</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="PrRmaNotEmptyValidator" type="Magento\Framework\Validator\NotEmpty">
        <arguments>
            <argument name="options" xsi:type="array"/>
        </arguments>
    </virtualType>
    <virtualType name="PrRmaStringLengthValidator" type="Magento\Framework\Validator\StringLength">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="max" xsi:type="number">10000</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Plumrocket\RMA\Model\Returns\Validator">
        <arguments>
            <argument name="notEmptyValidator" xsi:type="object">PrRmaNotEmptyValidator</argument>
            <argument name="stringLengthValidator" xsi:type="object">PrRmaStringLengthValidator</argument>
        </arguments>
    </type>

	<type name="Plumrocket\RMA\Model\ResourceModel\Returns">
    <plugin name="plumrocket_rma_note_first_save"
            type="Plumrocket\RMA\Plugin\ReturnsResourceBeforeSave"/>
    </type>



</config>
