@primary_color_var:#9BCF2D;
@primary_text_color_var:#777;
@secondary_text_color_var:#999;
@primary_link_color_var:#000;
@primary_link_color_hover_var:#9BCF2D;
@primary_border_color_var:#eee;
@secondary_border_color_var:#000;
@head_background_var:1;
@head_background_color_var:#181818;
@head_text_color_var:#999;
@head_link_color_var:#999;
@head_link_color_hover_var:#fff;
@header_background_var:1;
@header_background_color_var:#9BCF2D;
@main_background_var:1;
@main_background_color_var:#fff;
@footer_background_var:1;
@footer_background_color_var:#181818;
@footer_text_color_var:#777;
@footer_link_color_var:#777;
@footer_link_color_hover_var:#9BCF2D;
