/*Variables for Fonts*/
@fsb_var: null;
//
// @PRIMARY FONTS
// ----------------------------------------
@primary_font_library_var:google;
@primary_google_font_var:Roboto;
@primary_font_family_var:other;
@primary_font_family_other_var:Helvetica;
@primary_font_weight_var:400;

//
// @HEADING FONTS
// ----------------------------------------
@heading_font_library_var:google;
@heading_google_font_var:Roboto;
@heading_font_family_var:other;
@heading_font_family_other_var:Helvetica;
@heading_font_weight_var:400;

/*Variables for Pages*/
@body_background_var: null;
@body_background_color_var: null;
@body_bg_image_var: null;
@body_bg_position_var: 0 0;
@body_bg_repeat_var: no-repeat;
@primary_color_var: null;
@secondary_color_var: null;
@primary_text_color_var: null;
@secondary_text_color_var: null;
@primary_link_color_var: null;
@primary_link_color_hover_var: null;
@primary_border_color_var: null;
@secondary_border_color_var: null;
//Header
@header_background_var: 1;
@header_background_color_var: null;
@header_bg_position_var:0 0;
@header_bg_repeat_var: repeat;
@header_bg_image_var: null;
//Head
@head_background_var: 1;
@head_background_color_var: null;
@head_bg_position_var:0 0;
@head_bg_repeat_var: repeat;
@head_bg_image_var: null;
@head_text_color_var: null;
@head_link_color_var: null;
@head_link_color_hover_var: null;
//Main
@main_background_var: 1;
@main_background_color_var: null;
@main_bg_position_var:0 0;
@main_bg_repeat_var: repeat;
@main_bg_image_var: null;
@main_text_color_var: null;
@main_link_color_var: null;
@main_link_color_hover_var: null;
//Footer
@footer_background_var: 1;
@footer_background_color_var: null;
@footer_bg_position_var:0 0;
@footer_bg_repeat_var: repeat;
@footer_bg_image_var: null;
@footer_text_color_var: null;
@footer_link_color_var: null;
@footer_link_color_hover_var: null;
