<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="fedexlabel_shipment_save_after" instance="Infomodus\Fedexlabel\Observer\ShipmentSaveAfter" shared="false"/>
    </event>
    <event name="controller_action_postdispatch_adminhtml_order_shipment_save">
        <observer name="fedexlabel_shipment_save_action_after" instance="Infomodus\Fedexlabel\Observer\ShipmentSaveActionAfter" shared="false"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="fedexlabel_creditmemo_save_after" instance="Infomodus\Fedexlabel\Observer\CreditmemoSaveAfter" shared="false"/>
    </event>
    <event name="controller_action_postdispatch_adminhtml_order_creditmemo_save">
        <observer name="fedexlabel_creditmemo_save_action_after" instance="Infomodus\Fedexlabel\Observer\CreditmemoSaveActionAfter" shared="false"/>
    </event>
    <!--<event name="checkout_submit_before">
        <observer name="braintree" instance="Magento\Braintree\Observer\ProcessBraintreeAddress" />
    </event>-->
</config>