<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Infomodus. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="infomodus_fedexlabel" frontName="infomodus_fedexlabel">
            <module name="Infomodus_Fedexlabel"/>
        </route>
    </router>
</config>