<!--@subject Cancel Order @-->

{{template config_path="design/email/header_template"}}
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <h3>Dear {{var data.customerName}},</h3>
    <h4>The Order #{{var data.realOrderid}} has been canceled by admin due to security reason, if you think its wrong or error we request you to contact our support agent. </h4>
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Customer E-mail: </td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.customerEmail}}</td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td align="center" style="text-align:left;width:30%;font-weight:bold;">Comment:</td>
                        <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.comment}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
{{template config_path="design/email/footer_template"}}
