<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <cancelordersection>
            <cancelordergroup>
                <active>0</active>
                <cancelorderbuttontext>Cancel Order</cancelorderbuttontext>
                <usecomment>1</usecomment>
                <formheadertext>Cancel Order</formheadertext>
                <formnote><![CDATA[In such cases, the order will be cancelled and the money will be refunded to you within 24-48 business hours after the cancellation request.]]></formnote>
            </cancelordergroup>
            <emailopt>
                <emailto>support@example.com</emailto>
                <emailsender>support</emailsender>
                <template>cancelordersection_emailopt_template</template>
                <template_for_customer>cancelordersection_emailopt_template_for_customer</template_for_customer>
            </emailopt>
        </cancelordersection>
    </default>
</config>
