<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="morfdev" translate="label" sortOrder="340">
            <label>MorfDev</label>
        </tab>
        <section id="morfdev_freshdesk" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Freshworks</label>
            <tab>morfdev</tab>
            <resource>Morfdev_Freshdesk::morfdev_freshdesk</resource>
            <group id="general" translate="label,comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Application settings</label>
                <field id="token" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                </field>
                <field id="generate_token" type="button" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <frontend_model>Morfdev\Freshdesk\Block\Adminhtml\System\Config\Field\GenerateButton</frontend_model>
                </field>
                <field id="currency_type" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Currency Type</label>
                    <source_model>Morfdev\Freshdesk\Model\Source\CurrencyType</source_model>
                    <comment>Select to change displayed currency on Freshworks side. By default used Base Currency</comment>
                </field>
                <field id="freshsales_destination_url" translate="label" type="label" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Freshsales Destination URL</label>
                    <comment>Generated on Magento 2 Connector app settings on install. Need for webhook features. Webhooks don't work if empty</comment>
                </field>
                <field id="freshdesk_destination_url" translate="label" type="label" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Freshdesk Destination URL</label>
                    <comment>Generated on Magento 2 Connector app settings on install. Need for webhook features. Webhooks don't work if empty</comment>
                </field>
            </group>
        </section>
    </system>
</config>
