@desktop_one_column_var:6;
@desktop_two_column_var:5;
@tablet_one_column_var:5;
@tablet_two_column_var:4;
@tablet_sm_one_column_var:4;
@tablet_sm_two_column_var:3;
@mobile_column_var:3;
@mobile_sm_column_var:2;
