// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

@theme__primary-color: #549751;
@theme__secondary-color: #4a8547;

a:active,
.alink:active {
  color: @theme__primary-color;
}

.page-header {
  background-color: @theme__primary-color
}

.owl-carousel .owl-pagination .owl-page.active span {
  background-color: @theme__primary-color
}

.bots2,
.pagefooter {
	a:active,
	a:focus,
	a:hover{
	  color: @theme__primary-color
	}	
}


.bots2 .block-content ul li a:active,
.bots2 .block-content ul li a:focus,
.bots2 .block-content ul li a:hover {
  color: @theme__primary-color
}

.action.primary {
  background: @theme__primary-color;
}


.pages a.page:active {
  color: @theme__primary-color
}

.breadcrumbs .items .item a {
  color: @theme__primary-color;
}

.minicart-wrapper .action.showcart .counter.qty.empty {
  color: @theme__primary-color
}

.my-credit-cards .action.delete:active {
  color: @theme__primary-color;
}
.my-credit-cards-popup .action.secondary:active {
  color: @theme__primary-color;
}


.page-product-bundle .block-bundle-summary .bundle-info .product-details .box-tocart .actions .action.primary {
    background: @theme__primary-color;
}

.block-wishlist .block-content .product-item .product-item-info .product-item-actions .action.primary,
.product-item .product-item-info .product-item-actions .action.primary {
  background-color: @theme__primary-color;
}


.product-item-info .price-box .price {
  color: @theme__primary-color;
}

.product-item-info .ub-price-box .old-price .price, 
.product-item-info .price-box .old-price .price {
  color: #ddd;
}

.products-list .product-items .product-item-info .product-item-actions .actions-primary .action.primary {
  background: @theme__primary-color;
}

.toolbar .pages ul.items li.item strong.page {
  color: @theme__primary-color;
}

.product.media .fotorama__nav--thumbs .fotorama__nav__frame.fotorama__active {
  border-color: @theme__primary-color;
}

.product.info.detailed .product.data.items .tab-navigator .item.title.active a {
  color: @theme__primary-color;
}


.product-info-main .box-tocart .actions .action.primary,
.product-options-bottom .box-tocart .actions .action.primary {
  background: @theme__primary-color;
}


.ui-dialog-titlebar-close:active {
  color: @theme__primary-color;
}

.login-container .block-new-customer .content h2 {
  color: @theme__primary-color;
}

.bots2 .block-shipping .inner .list-shipping li .title {
  color: @theme__primary-color;
}


.block.widget.block-sales-products .block-content .products-grid .product-items .product-item .product-item-info .product-item-details .product-item-name a {
	color:@theme__primary-color;
}


.bots2 .block-location a:active, 
.bots2 .block-location a:focus, 
.bots2 .block-location a:hover {
  color: @theme__primary-color;
}

.block.widget .products-grid .product-items .product-item .product-item-info .product-item-actions .action.primary {
	background-color: @theme__primary-color !important;
}

.products-grid .product-item:hover a.ub-quick-view-button:hover, 
.products-list .product-item:hover a.ub-quick-view-button:hover {
  background-color: @theme__primary-color !important;
  border-color: @theme__primary-color !important;
}

.topsl2 .product-tab .product-tab-title .product-tab-title-inner .item.title:active a, 
.topsl2 .product-tab .product-tab-title .product-tab-title-inner .item.title:focus a, 
.topsl2 .product-tab .product-tab-title .product-tab-title-inner .item.title:hover a, 
.topsl2 .product-tab .product-tab-title .product-tab-title-inner .item.title.active a {
  color: @theme__primary-color;
}
.owl-carousel .owl-item .item .slide-content-desc .slide-readmore {
	color: @theme__primary-color;
}




body {
  background-color: #c1dbcd;
  background-image: url(../../../images/xmas/bg-body.png);
  &:before {
    background: url(../../../images/xmas/bg-snow-top.png) repeat-x center top;
    content: "";
    min-height: 152px;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.page-wrapper {
  background: url(../../../images/xmas/bg-snow-footer.png) repeat-x center bottom;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
  padding: 40px 0 333px 0;
  position: relative;
}

.page-header .panel.wrapper,
.bots1,
.bots2,
.pagefooter,
.page-main,
.topsl1,
.topsl2,
.page-header {
  max-width: 1180px;
  margin:  auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .page-header .panel.wrapper {
    left: 0;
  }
  .page-header .panel.wrapper,
  .bots1,
  .bots2,
  .pagefooter,
  .page-main,
  .topsl1,
  .topsl2,
  .page-header {
    max-width: 768px;
    padding-left:10px;
    padding-right:10px;
  }
}

.bots1,
.page-main,
.topsl1,
.topsl2 {
  background: #fff;
}

.page-header {
  min-height: 80px;
}

.header.content:before {
  background: rgba(0, 0, 0, 0) url("../../../images/xmas/bg-mainmenu.png") repeat-x scroll left top;
  content: "";
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.page-wrapper.sticky .page-header .header.content {
  background-color: #549751;
  max-width: 1180px;
  min-height: 80px;
  transition: 0.4s linear;
}

.page-wrapper.sticky.scrolled .page-header .header.content {
  min-height: 50px;
}
.page-wrapper.sticky .page-header .header.content::before {
  display: none;
}
.page-wrapper.sticky .page-header {
    max-width: 100%;
}
.page-wrapper.sticky .page-header ul.level0 > li.mega > a.mega {
  margin: 0;
}
@media screen and (max-width: 767px) { 
  .page-header {
    padding: 0;
  }
  .page-wrapper {
    padding: 0;
  }
}

.load-mode-button .load-more-button,
.block-compare .actions-toolbar .primary,
.popular-book .block.widget .product-item .product-item-info .actions-primary .action.primary,
.wishlist-index-index .products-grid.wishlist .product-item-info .product-item-actions .actions-primary .action.primary,
.action.primary:active, 
.action.primary:hover, 
.action.primary:focus {
  background-color: @theme__primary-color;
}

#btnGotoProduct .action.primary:hover,
#cboxPrevious:hover, 
#cboxNext:hover  {
  background-color: @theme__primary-color !important; 
}
.load-mode-button .load-more-button,
.block-authentication .block-customer-login .actions-toolbar > .primary .action-login,
.products-list .product-item-info .product-item-details .actions-primary .action.tocart,
.block-compare .actions-toolbar .primary:hover,
.action.nav-toggle {
  background-color: @theme__secondary-color !important;
}

.login-container .block-customer-login .content h2,
.has-toggle.quick-access .inner-toggle .shop-access ul li a:active, 
.has-toggle.quick-access .inner-toggle .shop-access ul li a:focus, 
.has-toggle.quick-access .inner-toggle .shop-access ul li a:hover,
a, 
.alink,
a:visited, 
.alink:visited {
  color: @theme__primary-color;
}
.has-toggle.minicart .inner-toggle .minicart-items .product-item-details .price,
.has-toggle.minicart .inner-toggle .subtotal .amount,
.block.widget .block-title a,
.block.widget.block-sales-products .products-grid .product-item.active .product-item-details a {
 color: @theme__primary-color !important;  
}
.minicart-items .product-item-name a:active,
.minicart-items .product-item-name a:focus,
.minicart-items .product-item-name a:hover,
.popular-book .product-item-details .product-item-name a:active, 
.popular-book .product-item-details .product-item-name a:focus, 
.popular-book .product-item-details .product-item-name a:hover,
.ub-quick-view-wrapper .ub-quick-view-tabs .product.data.items > .item.content.product-info-main .product-reviews-summary .reviews-actions a:hover,
.child-content .block.widget .products-grid li.product-item .product-item-info .product-item-name a:focus, 
.child-content .block.widget .products-grid li.product-item .product-item-info .product-item-name a:hover,
.today-highlight .product-items .product-item .product-item-details .product-item-name a:focus, 
.today-highlight .product-items .product-item .product-item-details .product-item-name a:hover,
.product-item-info .product-item-name a:active, 
.product-item-info .product-item-name a:focus, 
.product-item-info .product-item-name a:hover {
  color: @theme__primary-color;
}

@media only screen and (max-width: 767px) {
  .ub-mega-menu ul.level0 > li.mega a.mega.ui-state-active, 
  .ub-mega-menu ul.level0 > li.mega a.mega:active, 
  .ub-mega-menu ul.level0 > li.mega a.mega:focus, 
  .ub-mega-menu ul.level0 > li.mega a.mega:hover,
  .ub-mega-menu ul.level0 > li.mega a.mega.active,
  .ub-mega-menu ul.level0 li.active a,
  .ub-mega-menu ul.level0 li.mega-hover a {
    color:  @theme__primary-color;
  }
  .page-wrapper .page-header .header.content::before {
    background-color: @theme__primary-color;
  }
}
@media screen and (min-width: 768px) {
  .ub-mega-menu ul.level0 li.first a {
    border-left: 1px solid @theme__secondary-color !important;
  }
  
  .ub-mega-menu ul.level0 li.first a.product-item-photo {
    border-left: 0 !important;
  }
  
  .ub-mega-menu ul.level0 li a {
    border-right: 1px solid @theme__secondary-color !important;
  }
  .ub-mega-menu ul.level0 li a:focus,
  .ub-mega-menu ul.level0 li a:active,
  .ub-mega-menu ul.level0 li.active a, 
  .ub-mega-menu ul.level0 li.mega-hover a {
    background-color: @theme__secondary-color !important;
  }
  

  ul.level0 > li.mega.has-child > a.mega:active, 
  ul.level0 > li.mega.has-child > a.mega:focus, 
  ul.level0 > li.mega.has-child > a.mega:hover{
    background-color: @theme__secondary-color !important;
  }
  ul.level0 > li.mega.has-child > a.mega.ui-state-active, 
  ul.level0 > li.mega.has-child > a.mega.active, 
  ul.level0 > li.mega.has-child > a.mega:active, 
  ul.level0 > li.mega.has-child > a.mega:focus, 
  ul.level0 > li.mega.has-child > a.mega:hover {
    background: @theme__secondary-color;
  }
  
  .ub-mega-menu ul.level0 ul.level1 li.mega .block.widget .products-grid .product-items .product-item .product-item-info .product-item-details .product-item-name a,
  .ub-mega-menu ul.level0 ul.level1 li.mega .group .group-title a,
  .ub-mega-menu ul.level0 ul.level1 ul.level2 li a,
  .ub-mega-menu ul.level0 ul.level1 ul.level2 ul.level3 li a,
  .ub-mega-menu ul.level1 li a {
    border: 0 !important;
    background: 0 !important;
  }
  
  ul.level0 > li.mega > a.mega {
    margin: 6px 0;
    line-height: 67px;
  }
  ul.level0 > li.mega.has-child > a.mega.ui-state-active > span.menu-title, 
  ul.level0 > li.mega.has-child > a.mega.active > span.menu-title, 
  ul.level0 > li.mega.has-child > a.mega:active > span.menu-title, 
  ul.level0 > li.mega.has-child > a.mega:focus > span.menu-title, 
  ul.level0 > li.mega.has-child > a.mega:hover > span.menu-title,
  ul.level0 > li.mega.has-child > a.mega > span.menu-title {
    background-position: right -40px;
  }
  ul.level1 li.mega a.mega.ui-state-active, 
  ul.level1 li.mega a.mega.active, 
  ul.level1 li.mega a.mega:active, 
  ul.level1 li.mega a.mega:focus, 
  ul.level1 li.mega a.mega:hover,
  ul.level2 > li.mega > a.mega.ui-state-active, 
  ul.level2 > li.mega > a.mega.active, 
  ul.level2 > li.mega > a.mega:active, 
  ul.level2 > li.mega > a.mega:focus, 
  ul.level2 > li.mega > a.mega:hover {
    color: @theme__secondary-color;
  }
}

