<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
                <group id="receivedpaymentcash" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receiver Payment - Cash</label>
                    <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                        <label>Title</label>
                    </field>
                    <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="orderStatus" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Order Status</label>
                        <source_model>Retailinsights\WalkinCustomers\Model\Source\OrderStatus</source_model>
                    </field>
                </group>
                <group id="receivedpaymentcard" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Receiver Payment - Card</label>
                    <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" >
                        <label>Title</label>
                    </field>
                    <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="orderStatus" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Order Status</label>
                        <source_model>Retailinsights\WalkinCustomers\Model\Source\OrderStatus</source_model>
                    </field>
                </group>
        </section>
    </system>
</config>